.root{
    -fx-background-color: #42332C;
}
.label{
    -fx-font-weight: bold;
    -fx-text-fill: #CD9B5A;
    -fx-font-family: "Arial";
}
.stats-label{
    -fx-font-weight: bold;
    -fx-text-fill: #CD9B5A;
    -fx-font: 22px "Arial";
}
.button{
    -fx-background-color: #6E4A46;
    -fx-text-fill: #CD9B5A;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-radius: 0;
}
.button-mustard{
    -fx-background-color: #CD9B5A;
    -fx-text-fill: #6E4A46;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-radius: 0;
}
.main-menu-buttons{
    -fx-background-color: #6E4A46;
    -fx-text-fill: #CD9B5A;
    -fx-font: 25px "Arial";
    -fx-font-weight: bold;
    -fx-background-radius: 0;
}
.huge-buttons{
    -fx-background-color: #6E4A46;
    -fx-text-fill: #CD9B5A;
    -fx-font: 25px "Arial";
    -fx-font-weight: bold;
    -fx-background-radius: 0;
}
.roll-button{
    -fx-background-color: #6E4A46;
    -fx-text-fill: #CD9B5A;
    -fx-font: 30px "Arial";
    -fx-font-weight: bold;
    -fx-background-radius: 0;
}
.play-dev-card-button{
    -fx-background-color: #6E4A46;
    -fx-text-fill: #CD9B5A;
    -fx-font: 28px "Arial";
    -fx-font-weight: bold;
    -fx-background-radius: 0;
}
.warning-label{
    -fx-font-weight: bold;
    -fx-text-fill: #CD9B5A;
    -fx-font: 18px "Arial";
}
.end-turn-button-mustard{
    -fx-background-color: #CD9B5A;
    -fx-text-fill: #6E4A46;
    -fx-font: 28px "Arial";
    -fx-font-weight: bold;
    -fx-background-radius: 0;
}
.menu-bar{
    -fx-background-color: #f5f5f5;
}
.menu-bar .label{
    -fx-text-fill: #707070;
}