@media print{
    html {padding: 1em;}
    body {font: 7pt Arial, Sans-serif; margin: 0; padding: 0;
          color: #000; background: rgb(100%,100%,100%);
          margin: 0 auto; position: relative;} 
    code {font: 6pt "Andale Mono", Courier, "Courier New", monospace;}
    .tt{font: 6pt "Andale Mono", Courier, "Courier New", monospace;
        margin-left: 12px; margin-top:8px;}
    small {font-size: 5pt;}
    table {border: 1px dashed rgb(0, 0, 120);
           text-align: left;
           padding: 2px;
           font: 6pt Arial, Sans-serif;}
    .odd {background-color: rgb(253,253,255);}
    .even {background-color: rgb(245,245,248);}
    p {padding: 15px;padding-left:25px;
       page-break-inside: avoid;}
    div{padding-left: 20px; padding-right: 20; 
        padding-top:8px; padding-bottom:8px; 
        background-color: rgb(255,255,255);
        page-break-inside: avoid;}
    tr {text-align: left;
        vertical-align: top;
        page-break-inside: avoid;}
    td {text-align: left;
        vertical-align: top;
        background-color: rgb(245, 245, 248);
        padding-left: 10px;
        padding-top: 4px;padding-bottom: 4px;}
    th {background-color: rgb(0, 0, 120);
        text-align: left;
        color: rgb(255, 255, 255);
        padding-left: 10px;
        padding-top: 4px;padding-bottom: 4px;
        font-weight: bold;
        vertical-align: bottom;}
    a {text-decoration: none; }
    a:hover {text-decoration: none; 
             border-color: rgb(0,0,105); 
             border-style: dashed; 
             border-top-width: 0px; 
             border-right-width: 0px; 
             border-bottom-width: 1px; 
             border-left-width: 0px}
    h1 {background-color: rgb(0, 0, 105);
        color: rgb(255, 255, 255);
        font-weight: bold;
        padding-left: 75px; padding-top: 23px; padding-bottom: 23px;}
    h2 {background-color: rgb(0, 0, 105);
        color: rgb(255, 255, 255);
        font-weight: bold;
        padding-left: 15px; padding-top: 10px; padding-bottom: 10px;}
    h3 {background-color: rgb(0, 0, 105);
        color: rgb(255, 255, 255);
        font-weight: bold;
        padding-left: 10px; padding-top: 8px; padding-bottom: 8px;
        left: 10px;}
    h4 {font-weight: bold;
        padding-left: 5px; padding-top: 0px; padding-bottom: 8px;
        border-bottom:1px solid rgb(225,225,228); border-width:1px}
    h6 {background-color: rgb(0, 0, 105);
        color: rgb(255, 255, 255);
        padding-left: 2px; padding-top: 3px; padding-bottom: 3px;
	      font-size: 75%}	
    .boxed {margin: 15px; padding: 0px; padding-left: 0px;
        max-width: 1280px;
        border: 1px solid rgb(225,225,228); border-width: 1px;} 
   }

@media screen {
    html {background: silver; padding: 1em;}
    body {font: 100% Arial, Sans-serif; margin: 0; padding: 0;
          color: #000; background: rgb(100%,100%,100%);
          max-width: 1280px; min-width: 500px; margin: 0 auto;
          border: 1px solid rgb(0,0,100); border-width: 1px;
          position: relative;} 
    code{font: 100% "Andale Mono", Courier, "Courier New", monospace;}
    .tt{font: 100% "Andale Mono", Courier, "Courier New", monospace;
        margin-left: 12px; margin-top:8px;}
    small {font-size: 80%;}
    table {border: 1px dashed rgb(0, 0, 120);
           text-align: left;
           padding: 2px;
           font-size: 85%;}
    .odd {background-color: rgb(245,245,248);}
    .even {background-color: rgb(225,225,228);}
    p {padding: 15px;padding-left:25px;
       page-break-inside: avoid;}
    div{padding-left: 20px; padding-right: 20px; 
        padding-top:8px; padding-bottom:8px; 
        background-color: rgb(255,255,255);
        page-break-inside: avoid;}
    tr {text-align: left;
        vertical-align: top;
        page-break-inside: avoid;}
    td {text-align: left;
        vertical-align: top;
        background-color: rgb(245, 245, 248);
        padding-left: 10px;
        padding-top: 4px;padding-bottom: 4px;}
    th {background-color: rgb(0, 0, 120);
        text-align: left;
        color: rgb(255, 255, 255);
        padding-left: 10px;
        padding-top: 4px;padding-bottom: 4px;
        font-weight: bold;
        vertical-align: bottom;}
    a {text-decoration: none; }
    a:hover {text-decoration: none; 
             border-color: rgb(0,0,105); 
             border-style: dashed; 
             border-top-width: 0px; 
             border-right-width: 0px; 
             border-bottom-width: 1px; 
             border-left-width: 0px}
    h1 {background-color: rgb(0, 0, 105);
        color: rgb(255, 255, 255);
        font-weight: bold;
        margin: 0px;
        padding-left: 75px; padding-top: 23px; padding-bottom: 23px;}
    h2 {background-color: rgb(0, 0, 105);
        color: rgb(255, 255, 255);
        font-weight: bold;
        padding-left: 15px; padding-top: 10px; padding-bottom: 10px;}
    h3 {background-color: rgb(0, 0, 105);
        color: rgb(255, 255, 255);
        font-weight: bold;
        margin:0px;
        padding-left: 10px; padding-top: 8px; padding-bottom: 8px;
        left: 10px;}
    h4 {font-weight: bold;
        padding-left: 5px; padding-top: 0px; padding-bottom: 8px;
        border-bottom:1px solid rgb(225,225,228); border-width:1px}
    h6 {background-color: rgb(0, 0, 105);
        margin: 0px;
        color: rgb(255, 255, 255);
        padding-left: 2px; padding-top: 3px; padding-bottom: 3px;
	      font-size: 75%;}
    .boxed {margin: 15px; padding: 0px; padding-left: 0px;
        max-width: 1280px;
        border: 1px solid rgb(225,225,228); border-width: 1px;} 
  }
