#
# Filename:    ML506_JTAG.ucf
# 
# Description: Defines the clock input pin, clock speed, and
#              non-memory mapped ports for the
#              ML506 (JTAG)
#

NET "sys_clk_p" LOC = "L19";
NET "sys_clk_n" LOC = "K19";
NET "sys_clk_p" TNM_NET = "hwcosim_sys_clk";
NET "sys_clk_n" TNM_NET = "hwcosim_sys_clk";
TIMESPEC "TS_hwcosim_sys_clk" = PERIOD "hwcosim_sys_clk" 200 MHz HIGH 50%;
